{% extends 'base.html' %}
{% load static %}
{% block title %}Amenities{% endblock %}

{% block content %}
    <h2>Hostel</h2>
    <img src="{% static 'images/hostel.jpg' %}" alt="Hostel Amenities" width="500" height="500">
    <ul>
        <li>Two separate exclusive boys and girls hostel – 8 storied buildings which can accommodate 500 students each.</li>
        <li>Single, 2 , 3 & 8 Bedded accommodation</li>
        <li>Optional A/C facility</li>
        <li>State of the art Gym & Indoor games</li>
        <li>WIFI connectivity</li>
        <li>24/7 in house medical care with 1000 beded Multi-Speciality Hospital within the campus</li>
        <li>Entertainment halls with multi channel television facility</li>
        <li>Open air movie screening facility for weekly movie shows</li>
        <li>Exclusive visitors lounge</li>
        <li>24/7 security vigilance</li>
        <li>Treated RO water in all the floors for drinking purpose.</li>
        <li>Solar hot water for bathing.</li>
        <li>Clean Hygienic environment</li>
        <li>Smoking – free campus</li>
        <li>Ragging – free campus</li>
        <!-- Add more rules as needed -->
    </ul>
{% endblock %}
