{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="text-center my-4">Welcome, {{ username }}!</h2>
            <h4 class="text-center my-4">Select a Hostel</h4>
            <div class="text-center">
                <a href="{% url 'availability' hostel='boys' %}" class="btn btn-primary m-3">Boys Hostel</a>
                <a href="{% url 'availability' hostel='girls' %}" class="btn btn-primary m-3">Girls Hostel</a>
            </div>
        </div>
    </div>
{% endblock %}
