{% extends 'base.html' %}
{% load static %}
{% block title %}Hostel Mess{% endblock %}

{% block content %}
    <h2>Hostel Mess</h2>
    <img src="{% static 'images/mess.jpg' %}" alt="Mess" width="500" height="500">
    <ul>
        <li>Well designed spacious and spotlessly maintained dining halls catering to different needs of students .</li>
        <li>We have special, north Indian, south Indian, vegetarian, non-vegetarian categories of food served in different messes.</li>
        <li>Special menus are provided during festival occasions.</li>
        <li>Separate canteen is also available to cater to the needs of the students.</li>
        <!-- Add more rules as needed -->
    </ul>
{% endblock %}
