{% extends 'base.html' %}

{% block title %}Room Confirmation{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="text-center my-4">Room Confirmation</h2>
            <div class="card">
                <div class="card-body">
                    <!-- Room confirmation details -->
                    <h5 class="card-title">Confirmation Details:</h5>
                    {% if student %}
                        <p class="card-text">Name: {{ student.name }}</p>
                        <p class="card-text">Registration Number: {{ student.registration_number }}</p>
                        <p class="card-text">Phone Number: {{ student.phone_number }}</p>
                        <p class="card-text">Parent's Phone Number: {{ student.parent_phone_number }}</p>
                        <p class="card-text">Room Type: {{ student.room.room_type }}</p>
                        <p class="card-text">Room Number: {{ student.room.room_number }}</p>
                    {% else %}
                        <p class="card-text">No room confirmation details available.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
